<main class="container">
  <section class="card">
    <div class="row">
      <div class="col-md-4">
        <img src="https://atx.mx/wp-content/uploads/2018/01/DFIRB-HUAAAxEd5.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1>Sobre Nosotros</h1>
          <p>
            Ahora podra registrar su empresa para solicitar empleados de la zona, ademas de expandir su empresa a distintos lugares.
          </p>
        </div>
      </div>
    </div>

  </section>
</main>