
<div class="jumbotron mt-4">
  <h1 class="display-4">Bolsa de Trabajo</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>veniam voluptatibus aliquid unde sit Libero veniam similique ex reiciendis doloribus! Deleniti sunt cum ad est atque. Esse earum
  </p>
</div>

